/* General */
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background: #fafafa;
}

ul {
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* Layout */
.content {
  display: flex;
  margin-top: 2rem;
}

.company-search {
  width: 100%;
}

.company-list {
  flex-grow: 1;
  max-width: 300px;
}

.company-information {
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-left: 2rem;
  box-shadow: 1px 1px 3px 0 #cccccc;
  flex-grow: 3;
}

/* Company Information */
.company-information img {
  max-height: 100px;
}

.no-company-select {
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}

/* Company Search List */
.company-search__box {
  width: 100%;
  font-size: 1.8rem;
  padding: .8rem;
}

.company-brief {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  margin: 1rem 0;
  box-shadow: 1px 1px 3px 0 #cccccc;
  background-color: #ffffff;
  transition: transform .2s ease;
}

.company-brief a {
  padding: .5rem;
  text-decoration: none;
  color: #000000;
  display: block;
}

.company-brief a:hover {
  background-color: #2cd681;
  color: #ffffff;
}

.company-brief:hover {
  transform: translateY(-.5rem);
  box-shadow: 3px 3px 6px 0 #cccccc;
}

/* Pagination */
.pagination {
  display: none;
  margin: 1rem 0;
}

.pagination__btn {
  padding: 1rem;
  margin: 0 .5rem;
  cursor: pointer;
}

/* utility */
.show {
  display: block;
}

.hide {
  display: none;
}
